{sub_dirs, ["apps/wiki_creole", "apps/wriaki", "rel"]}.
{deps,
 [{webmachine, "1.7.3",
   {git, "git://github.com/basho/webmachine", "23d4b107000a83a365a3"}},
  {mochiweb, "1.7.1",
   {git, "git://github.com/basho/mochiweb", "5128cb3553724373d6a5"}},
  {erlydtl, "0.6.1",
   {git, "git://github.com/evanmiller/erlydtl", "14872e22e62c82b71e41"}},
  {riakc, "1.2.0",
   {git, "git://github.com/basho/riak-erlang-client", "67e36ffd6e80032600e9"}},
  {riakhttpc, "0.9.2",
   {git, "git://github.com/basho/riak-erlang-http-client", "9cf254d69cd123670996"}}]}.

