{sub_dirs, ["apps/wiki_creole", "apps/wriaki", "rel"]}.
{deps,
 [{webmachine, "1.9.*",
   {git, "git://github.com/vinoski/webmachine", {branch, "yaws"}}},
  {erlydtl, "0.6.1",
   {git, "git://github.com/evanmiller/erlydtl", "14872e22e62c82b71e41"}},
  {riakc, "1.2.0",
   {git, "git://github.com/basho/riak-erlang-client", "cc27dc2808527ccdd8fe"}},
  {riakhttpc, "0.9.2",
   {git, "git://github.com/basho/riak-erlang-http-client", "1167606bc1dc72dd88c6"}}]}.

