%% -*- mode: erlang -*-
[
 {wriaki, [
           %% Password encryption salt
           {salt, "wriaki_salt"},

           %% Riak connection settings
           %% For Protocol Buffers, use:
           %%    {pb, {Host, Port}}
           %% For HTTP, use:
           %%    {http, {Host, Port, Prefix}}
           {riak, {pb, {"127.0.0.1", 8087}}},
%           {riak, {http, {"127.0.0.1", 8098, "riak"}}},

           %% Search functionality
%           {search_enabled, true},

           %% Web interface settings
           %% web_ip: what IP to listen on (0.0.0.0 = listen on all)
           {web_ip, "0.0.0.0"},
           %% web_port: what port to listen on
           {web_port, 8000},
           %% log_dir: what directory to spew the log in
           {log_dir, "priv/log"}
          ]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]}
].

