%% -*- mode: erlang -*-
{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {rel, "wriaki", "2",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         webmachine,
         erlydtl,
         wiki_creole,
         ibrowse,
         riakc,
         riakhttpc,
         wriaki
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "wriaki"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, wriaki, [{incl_cond, include}]},
       {app, wiki_creole, [{incl_cond, include}]},
       {app, webmachine, [{incl_cond, include}]},
       {app, yaws, [{incl_cond, include}]},
       {app, erlydtl, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "wriaki"}.
{overlay, [
           {mkdir, "log/sasl"},

           {template, "overlay/etc/app.config", "etc/app.config"},
           {template, "overlay/etc/vm.args", "etc/vm.args"},

           {template, "overlay/bin/wriaki", "bin/wriaki"},

           {copy, "overlay/erts-vsn/bin/erl", "{{erts_vsn}}/bin/erl"},
           {template, "overlay/erts-vsn/bin/nodetool",
                      "{{erts_vsn}}/bin/nodetool"}
          ]}.
