%% -*- mode: erlang -*-
{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {rel, "wriaki", "2",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         webmachine,
         erlydtl,
         wiki_creole,
         ibrowse,
         wriaki
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "wriaki"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, wriaki, [{incl_cond, include}]},
       {app, wiki_creole, [{incl_cond, include}]},
       {app, webmachine, [{incl_cond, include}]},
       {app, erlydtl, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{rebar, [
         {empty_dirs, [
                       "log/sasl"
                      ]},

         {overlay, "overlay"}
         ]}.
